version: '3.8'

services:
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: nodejs-dev
    container_name: nodejs-dev
    restart: unless-stopped
    env_file: .env
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - ./:/home/node/app
      - node_modules_dev:/home/node/app/node_modules
    command: sh -c "cd /home/node/app && npm install && npm run dev"
    networks:
      - akapi-network

networks:
  akapi-network:
    driver: bridge

volumes:
  node_modules_dev: